<!DOCTYPE html>
<html ng-app="weather-app">
    <head> 
            <script src="../node_modules/angular/angular.min.js"></script>
            <script src="../node_modules/angular-route/angular-route.min.js"></script>
            <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
            <script src="app.js"></script>
    </head>

<body>
        <nav>
                <a href="#!order" >newyork</a>
                <a href="#!paris ">paris</a>
                <a href="#!london ">london</a>
                
            </nav>
    <div ng-controller="form">
        <input ng-model="city">
        <button ng-click="showWeather()">send</button>
         {{forcast}}
        <hr>
        
    </div>



</body>
</htm>